.property-listings {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  justify-content: space-between;
}

.property-listing {
  flex-basis: calc(33.3333% - 20px);
  margin: 10px;
  border: 2px solid #eee;
  height: 15em;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.property-listing__preview-image img {
  width: 100%;
  // height: auto;
  // border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.property-listing__title {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.property-listing__details {
  margin-top: 5px;
}

.property-listing__details li {
  list-style-type: none;
}

.property-listing__footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}
